<!DOCTYPE html>
<html ng-app='main'>

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <meta charset="UTF-8">
    <title>Ocsa</title>
    <link rel="stylesheet" type="text/css" href="ocsa.css">
</head>

<body ng-controller='MainCtlr as mainCtrl' class='centered'>
    <script type="text/javascript" src="calendar.js"></script>
    <section ng-controller='CalendarCtrl as calendarCtrl' style='float: left;'>
        <div ng-show='calendarCtrl.showStartDateInput'>
            Schedule starts on
            <input id="startDateInput" type="date" ng-model="startDate" ng-change="calendarCtrl.startDateChanged(startDate);
                            mainCtrl.showAgents = true" />
        </div>
        <table ng-show='calendarCtrl.showCalendar'>
            <thead>
                <tr>
                    <td>Sunday</td>
                    <td>Monday</td>
                    <td>Tuesday</td>
                    <td>Wednesday</td>
                    <td>Thursday</td>
                    <td>Friday</td>
                    <td>Saturday</td>
                </tr>
            </thead>
            <tr ng-repeat='week in calendarCtrl.calendar.weeks'>
                <td ng-repeat='day in week.days' 
                    class='scheduleDay' 
                    ng-class='{agentDoesntWorkThatDay: day.displayValue}'
                    ng-click='calendarCtrl.dayClicked(day, mainCtrl.selectedAgent)'>
                    <p>{{day.displayValue}}</p>
                    <p ng-show='day.agent !== {}'>{{day.agent.name}}</p>
                </td>
            </tr>
        </table>
    </section>
    <script type="text/javascript" src="agents.js"></script>
    <section ng-controller='AgentCtrl as agentCtrl' ng-show='mainCtrl.showAgents' style='float: right'>
        <input type="text" placeholder="Type new agent name here" ng-model='agentCtrl.newAgentName' ng-keypress='agentCtrl.agentNameInputKeyPressed($event.keyCode)' />
        <table>
            <tr ng-repeat='agent in agentCtrl.agents'>
                <td ng-class='{agentSelected: agent == agentCtrl.selectedAgent,
                                agent: agent != agentCtrl.selectedAgent}'
                    ng-click='agentCtrl.selectAgent(agent);
                            mainCtrl.selectAgent(agent)'>
                    {{agent.name}}
                </td>
            </tr>
        </table>
    </section>
</body>

</html>