.scheduleDay {
    height: 5em;
    width: 5em;
}

.agent {
    background-color: #CCFFCC;
}

.agentSelected {
    background-color: #B8E6B8;
}

.agentWorksThatDay {
    background-color: #0066FF;
}

.agentDoesntWorkThatDay {
    background-color: PaleTurquoise;
}

.cantWorkOnNotSelected {
    background-color: #FFDDDD;
}

.cantWorkOnSelected {
    background-color: #FF8888;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}